
body{
    color: #bfc1c8;
    font-family: 'Fira Sans' !important;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
   background: #1e202b !important;
}
.fberror{
    border-color:red !important;
}


